#include "resource.h"

1 24 "TextEditor.exe.manifest"

IDR_MAIN_WINDOW_MENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Open",                        ID_MAIN_WINDOW_MENU_FILE_OPEN
        MENUITEM "Save",                        ID_MAIN_WINDOW_MENU_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        ID_MAIN_WINDOW_MENU_FILE_EXIT
    END
END